 <table>
    <thead>
      <tr>
        <th>Season</th>
        <th>Age</th>
        <th>Team</th>
        <th>Country</th>
        <th>Competition</th>
        <th>Games</th>
        <th>Minutes</th>
        <th>Goals</th>
        <th>Assits</th>
        <th>Goals/90</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let output of ronaldoDomesticTableArray; let i = index;">
            <td>
                <span>{{output.season}}</span>
            </td>
            <td>
                <span>{{output.age}}</span>
            </td>
            <td>
                <span>{{output.team}}</span>
            </td>
            <td>
              <span>{{output.country}}</span>
            </td>
            <td>
              <span>{{output.competition}}</span>
            </td>
            <td class="stats">
              <span>{{output.games}}</span>
            </td>
            <td class="stats">
              <span>{{output.minutes}}</span>
            </td>
            <td class="stats">
              <span>{{output.goals}}</span>
            </td>
            <td class="stats">
              <span>{{output.assists}}</span>
            </td>
            <td class="stats">
              {{output.goalsPerNinety | number : '1.2-2'}}
            </td>
        </tr>
        <tr>
          <td class="totals">{{uniqueSeasonsArray.length}} Season</td>
          <td class="totals"></td>
          <td class="totals">{{uniqueClubsArray.length}} Clubs</td>
          <td class="totals"></td>
          <td class="totals">{{uniqueCompetitionsArray.length}} Competition</td>
          <td class="totals stats">{{totalGames}}</td>
          <td class="totals stats">{{totalMinutes | number}}</td>
          <td class="totals stats">{{totalGoals}}</td>
          <td class="totals stats">{{totalAssists}}</td>
          <td class="totals stats">{{totalGoalsPerNinety | number : '1.2-2'}}</td>
        </tr>
    </tbody>
  </table>