table {
    border-collapse: collapse;
}
th {
    text-align: center;
    background-color: lightgray;
    border: 1px solid #ddd;
    padding: 3px;
}
td {
    border: 1px solid #ddd;
    padding: 3px;
}
.stats {
    text-align: right;
}
.totals {
    background-color: lightgray;
}