  <table>
    <thead>
      <tr>
        <th>Season</th>
        <th>Age</th>
        <th>Team</th>
        <th>Country</th>
        <th>Competition</th>
        <th>Games</th>
        <th>Minutes</th>
        <th>Goals</th>
        <th>Assits</th>
        <th>Goals/90</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let output of ronaldoDomesticTableArray; let i = index;">
            <td>
                <span>{{output.season}}</span>
            </td>
            <td>
                <span>{{output.age}}</span>
            </td>
            <td>
                <span>{{output.team}}</span>
            </td>
            <td>
              <span>{{output.country}}</span>
            </td>
            <td>
              <span>{{output.competition}}</span>
            </td>
            <td>
              <span>{{output.games}}</span>
            </td>
            <td>
              <span>{{output.minutes}}</span>
            </td>
            <td>
              <span>{{output.goals}}</span>
            </td>
            <td>
              <span>{{output.assists}}</span>
            </td>
            <td>
              <span>{{output.goalsPerNinety | number : '1.2-2'}}</span>
            </td>
        </tr>
        <tr>
          <td>{{uniqueSeasonsArray.length}} Season</td>
          <td></td>
          <td>{{uniqueClubsArray.length}} Clubs</td>
          <td></td>
          <td>{{uniqueCompetitionsArray.length}} Competition</td>
          <td>{{totalGames}}</td>
          <td>{{totalMinutes | number}}</td>
          <td>{{totalGoals}}</td>
          <td>{{totalAssists}}</td>
          <td>{{totalGoalsPerNinety | number : '1.2-2'}}</td>
        </tr>
    </tbody>
  </table>